body{
    background-color: #000E14;
}

h1{
    color: white;
    font-size: 69px;
    text-align: center;
    margin-top: 20vh;
    font-family: 'Single Day', cursive;
    line-height: 65px;
}